.pull-down {
    padding-top: 40px;
}

footer {
    font-size: 10px;
    text-align: right;
}

.padding {
    display: inline-block;
    margin-top: 5px;
    padding: 5px;
}

.jumbotron {
    background: url("../images/restaurant.jpg") no-repeat center center;
    background-size: cover;
}

.main-title {
    color: #444444;
    text-shadow: 0 0 10px white, 0 0 10px white, 0 0 8px white, 0 0 6px white, 0 0 6px white;
    font-size: 2.5em;
}

.boxshadow {
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    margin-bottom: 20px;
    background: white;
}

.boxshadow::after {
    content: '';
    position: absolute;
    z-index: -1; /* hide shadow behind image */
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    width: 70%;
    left: 15%; /* one half of the remaining 30% */
    height: 100px;
    bottom: 0;
}

blockquote {
    background-color: #DDD;
    font-size: 1em;
}

#items_table_holder {
    margin-top: 30px;
}

#items_table_holder table thead {
    background-color: lightgray;
}

.item_name {
    font-weight: bold;
}

.item_description {
    font-size: 0.9em;
    font-style: italic;
    color: #555;
}

.no_description_message {
    color: gray;
}

#contact_table table {
    margin-top: 15px;
    float: left;
}

#contact_table table td:nth-child(1) {
    width: 80px;
}

#contact_table table td {
    border-bottom: 1px solid lightgray;
}

#contact_image {
    float:right;
}
