<p>
<div class="row marketing">
    <div class="col-md-5">
        <div class="boxshadow">
            <h3>Contact Person</h3>

            <div id="contact_table">
                <table>
                    <tr>
                        <td>Name:</td>
                        <td>Milorad Kukic</td>
                    </tr>
                    <tr>
                        <td>e-mail:</td>
                        <td>kukic.milorad@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Location: </td>
                        <td>Novi Sad, Serbia</td>
                    </tr>
                </table>
            </div>

            <div id="contact_image">
                <img src="https://s.gravatar.com/avatar/7f267e437552908d53771f41467d75d5?s=80" 
                     alt="Image not found"/>
            </div>

            <div style="clear: both;">
                <br>
            </div>
        </div>
    </div>

</div>
</p>
