<div>
    <h5><b>Dear guests,</b></h5>
    you are welcomed to dine with us at Milorad's restaurant. We will serve you with the mouth weatering dishes.
    <br/>
    Have a pleasent dining expirience.
<div>
    <br>
<p>
<div class="row marketing">
    <div class="col-md-6">
        <div class="boxshadow">
            <h3>Dish Categories</h3>
            <p>Wide range of wonderful dishes is available to you. To provide you a best expirience,
            we took our time and sorted dishes into several categories. <br/>
            Here you can check all available categories of dishes and find dishes by category you prefer.
            </p>
            <p><a class="btn btn-default" ui-sref="categories" role="button">View Categories &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="boxshadow">
            <h3>What other people say</h3>
            <blockquote>
                <h4>"Best restaurant ever"</h4>
                <p>This is the most beautiful restaurant in the world. Meals are absolutely FANTASTIC
                I just can't wait to come back again!</p>
                <footer>
                    David Gilmour, November 2016
                </footer>
            </blockquote>
        </div>
    </div>
</div>
</p>
